@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.transition-opacity {
  transition: opacity 0.05s ease-in-out; /* Match the timeout duration */
}

.padding-custom {
  padding-left: Clamp(1.25, 15.62);
  padding-right: Clamp(1.25, 15.62);
}
